In [1]:
import numpy as np
from tkinter import *
from matplotlib.figure import Figure
from matplotlib.backends.backend_tkagg import FigureCanvasTkAgg
import math
import pandas as pd

MAXVAL = 0
INTERVAL = 1000

fig = Figure(figsize=(5,4), dpi=100)
ax = fig.add_subplot(111)

In [2]:
marathon_2015_2017 = pd.read_csv('./material/marathon_2015_2017.csv')
record = pd.DataFrame(marathon_2015_2017, columns=['5K', '10K', '15K', '20K', 'Half', '25K', '30K',
                                                  '35K', '40K', 'Official Time']).sort_values(by=['Official Time'])
record_list = record.values.tolist()
xData = [5, 10, 15, 20, 21.098, 25, 30, 35, 40,42.195]

C:\Users\ysn65\anaconda3\envs\init_dn\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (21) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
record.head()

        5K   10K   15K   20K  Half   25K   30K   35K   40K  Official Time
0      883  1783  2697  3629  3842  4567  5520  6479  7359           7757
53228  925  1828  2744  3675  3875  4619  5581  6499  7373           7777
1      883  1783  2698  3628  3841  4567  5519  6479  7362           7788
53229  924  1827  2744  3675  3875  4619  5581  6499  7394           7798
2      883  1783  2697  3629  3842  4567  5520  6479  7381           7822

In [4]:
def update():
    t_a = int(t_aSpbox.get())
    MAXVAL = t_a * INTERVAL
    ax.set_xlabel('Distance(km)')
    ax.set_ylabel('Time(Second)')
    ax.set_title(str(t_a) + ' records of runners')
    
    for t in range(0, MAXVAL, INTERVAL):
        ax.plot(xData, record_list[int(t)], 'o', label=str(t+1))
    
    ax.legend()
    fig.canvas.draw()



# main
main = Tk()
main.title('Marathon Records')
main.geometry()

label = Label(main, text='Marathon Records')
label.config(font=('Courier', 19))
label.grid(row=0,column=0, columnspan=4)

t_aVal = DoubleVar(value=1.0)

t_aSpbox = Spinbox(main, textvariable=t_aVal, from_=0, to=100, increment=1, justify=RIGHT)
t_aSpbox.config(state='readonly')
t_aSpbox.grid(row=1, column=1)
t_aLabel=Label(main, text='Number of runner : ')
t_aLabel.grid(row=1, column=0)

Button(main, text='Run', width=20, height=5, command=lambda:update()).grid(row=1, column=2,
                                                                           columnspan=2, rowspan=1)
canvas = FigureCanvasTkAgg(fig, main)
canvas.get_tk_widget().grid(row=4, column=0, columnspan=3)

main.mainloop()